---
const { siteTitleHref } = Astro.locals.starlightRoute;
---

<a href={siteTitleHref} class="site-title sl-flex">
  <svg viewBox="0 0 114.25391 29.333067" aria-label="Kyaraben" class="logo">
    <g transform="translate(-27.178341,-37.587067)">
      <text
        transform="matrix(0.19720878,0,0,0.21977464,35.81641,11.015695)"
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:96px;font-family:'DeepMind Serif Display', serif;white-space:pre;fill:#000000"
      >
        <tspan x="116.92773" y="200.37665">Kyaraben</tspan>
      </text>
      <text
        style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.7611px;font-family:DotGothic16, sans-serif;white-space:pre;fill:#000000"
        x="76.879837"
        y="63.265644"
      >
        <tspan x="76.879837" y="63.265644">キャラクター弁当</tspan>
      </text>
      <path
        style="fill:#000000"
        d="m 52.765454,64.989906 c 1.237376,0.01605 2.902474,-0.308925 3.540094,-1.493312 0.227423,-0.479258 0.48882,-1.808758 0.462306,-10.875573 -0.009,-3.094024 0.710073,-7.895016 -0.599816,-10.206652 -0.508428,-0.897252 -1.274325,-1.625771 -2.047893,-1.947947 -0.715126,-0.297837 -2.084727,-0.373145 -2.994658,0.101384 -0.460849,0.240333 -1.070653,0.669212 -1.35512,0.953063 -1.118913,1.116494 -9.858802,9.827107 -10.96936,10.62162 -0.925941,0.352042 -2.253423,-0.404259 -2.253423,-1.283834 0,-0.320543 0.214969,-0.694036 0.716927,-1.245609 2.172177,-2.34262 4.394164,-4.487085 6.687965,-6.724169 2.070428,-1.976735 2.284585,-2.205102 2.284585,-2.436173 0,-0.259645 -1.52018,-0.324191 -6.353756,-0.269778 -3.162193,0.051 -4.986745,0.105028 -7.490042,0.11588 -1.331327,0.0058 -2.648678,0.810549 -2.739905,5.853323 -0.101101,5.588522 0.05832,14.430661 0.438439,16.654871 0.271565,1.589028 1.780366,2.182908 3.365439,2.182908 1.609449,0 2.162803,-0.345995 4.951905,-3.096262 1.329632,-1.311119 2.493012,-2.455332 2.585288,-2.542696 0.09228,-0.08736 0.908446,-0.987663 1.904752,-1.906127 4.573946,-4.216582 -1.159771,0.936372 3.59095,-3.387061 0.438952,-0.399471 1.539638,-0.98879 2.098048,-0.700402 1.094759,0.565382 1.181089,1.792649 0.190382,2.706472 -2.94579,2.924212 0.598581,-0.7459 -8.890206,8.802905 -0.0061,0.138789 10.057843,0.235051 12.877097,0.123171 z M 37.101036,60.921677 c -0.211443,-0.228151 -0.42763,-0.550893 -0.480415,-0.717204 -0.124981,-0.393779 0.341,-1.125089 1.353559,-2.124276 0.442667,-0.436821 0.963961,-0.96913 1.158432,-1.182909 0.316301,-0.347705 0.924486,-0.939422 2.418554,-2.353066 0.262092,-0.247984 0.583751,-0.572487 0.714797,-0.721117 0.240246,-0.272482 1.417671,-1.414418 3.71774,-3.605681 1.208578,-1.151405 1.276003,-1.190948 2.011965,-1.179954 0.883203,0.01319 1.476308,0.217707 1.343986,0.88566 -0.37899,1.913123 -1.26872,2.352547 -1.681035,2.650619 -2.684431,1.940638 -5.319785,4.637713 -7.636675,6.887205 -0.425867,0.412762 -0.86566,0.97187 -1.074742,1.151618 -0.209083,0.179748 -0.459262,0.413445 -0.555954,0.519327 -0.295101,0.323149 -0.884973,0.227038 -1.290212,-0.210222 z m -0.168984,-4.151942 c -0.647509,-1.436021 0.418268,-2.120054 1.20397,-2.970727 2.40894,-2.608139 5.048406,-5.195057 7.77373,-7.552681 1.45707,-1.260482 1.156546,-1.098092 2.135394,-1.270751 0.113827,-0.02008 0.886976,0.03337 1.196993,0.534991 0.181854,0.294246 0.330643,0.692084 0.330643,0.884084 0,0.742435 -0.857553,1.503933 -1.38419,1.757803 -1.049315,0.505831 -1.507269,0.550208 -2.533796,1.573556 -0.534025,0.53237 -1.023744,0.967946 -1.088265,0.967946 -1.679799,1.819892 -3.533068,3.470193 -5.273471,5.230108 -1.401035,1.426588 -1.992761,1.662354 -2.361008,0.845671 z"
      />
    </g>
  </svg>
  <span class="sr-only" translate="no">Kyaraben</span>
</a>

<style>
  @layer starlight.core {
    .site-title {
      align-items: center;
      gap: var(--sl-nav-gap);
      font-size: var(--sl-text-h4);
      font-weight: 600;
      color: var(--sl-color-text-accent);
      text-decoration: none;
      white-space: nowrap;
      min-width: 0;
    }
    .logo {
      height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
      width: auto;
      max-width: 100%;
    }
  }
</style>
